.title {
    font-size: 36px;
    background-color: #ff0000;
    color: #000000;
    text-align: center;
}

.img,
.para,
h3 {
    text-align: center;
}

.container {
    background-color: #ff0000;
}

h3 {
    background-color: #fa4f008f;
    font-style:oblique;
}

em {
    font-weight: bold;
}

body {
    font-family: Helvetica, "Times New Roman", sans-serif;
}

ol li {
    color: #008000;
}

ul {
    color: #ff00ff;
}

.color {
    color: #552aa5;
}

.list {
    text-align: ;
    
    display: flexbox;
}